.top-page-header {
  width: 100vw;
  height: 120px;
  padding: 2vh 15vw;
  border-bottom: 5px solid black;
}
.header-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-title{
  display: flex;
  align-items: center;
  margin-right: 10vw;
}
.logo-icon{
  width: 100px;
  height: 100px;  
}
.input-box {
  height: 30px;
  width: 30vw;
  padding-left: 10px;
}
.search-btn{
  height: 30px;
  width: 40px;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}
