.main{
  height: calc(100vh - 135px);
  display: flex;
}
.left-side-bar{
  background-color:#C0C0C0;
  width: 190px;
  padding: 20px 10px;
  overflow-y: scroll;
}
.center-contents{
  background-color:white;
  width: calc(100vw - 120px);
  padding: 20px;
  overflow-y: scroll;
  white-space: nowrap;
}

.left-lists{
  margin-bottom: 20px;
}
.save_company,
.sign_out,
.sign_in,
.sign_up {
  font-size:15px;
  color: black;
}
.company-field{
  display: flex;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}
.company-name-link{
  text-decoration: none;
}
.company-name-field{
  width: 200px;
}
.phone-number-field{
  width: 120px;
}
.station-field{
  width: 70px;
}
.status-field{
  width: 100px;
}

.top-page-footer{
  width: 100vw;
  height: 15px;
  background-color: gray;
}
