<header class="top-page-header">
  <div class="header-contents">
    <div class="logo-title">
      <%= link_to image_tag("logo.png", class:"logo-icon"), root_path %>
      <span class="header-title">Sarabred</span>
    </div>
    <form class="search-form" action="#">
      <input class="input-box", placeholder="会社を検索する">
    </form>
  </div>
</header>