<header class="top-page-header">
  <div class="header-contents">
    <div class="logo-title">
      <%= link_to image_tag("logo.png", class:"logo-icon"), root_path %>
      <span class="header-title">Sarabred</span>
    </div>
    <%= form_with(url: search_companies_path, method: :get, local: true, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder:"会社を検索する", class: "input-box" %>
      <%= f.submit "検索", class:"search-btn"%>
    <% end %>
  </div>
</header>