.main{
  height: calc(100vh - 135px);
  display: flex;
}
.left-side-bar{
  background-color:#C0C0C0;
  width: 190px;
  padding: 20px 10px;
}
.center-contents{
  background-color:white;
  width: calc(100vw - 120px);
  padding: 20px 40px;
  overflow-y: scroll;
  white-space: nowrap;
}

.left-lists{
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #232323;
  background: #fff;
  border-left: solid 10px #6091d3;
}
.link_mypage,
.save_company,
.sign_out,
.sign_in,
.sign_up {
  font-size:15px;
  color: black;
}
/* 会社表示ページ */
.company-title-header{
  display: flex;
  margin-bottom: 20px;
}
.company-title{
  width: 250px;
  text-align: center;;
  padding: 7px;
  border: solid 1px black;
  border-radius: 5px;
}
.phone-title{
  width: 140px;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.address-title{
  width: 200px;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.station-title{
  width: 80px;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.user-title{
  width: 120px;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  margin-left: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.rank-title{
  width: 70px;
  text-align: center;
  overflow: hidden;
  padding: 7px;
  margin-left: 10px;
  border: solid 1px black;
  border-radius: 5px;
}
.status-title{
  width: 140px;
  overflow: hidden;
  text-align: center;
  padding: 7px;
  border: solid 1px black;
  border-radius: 5px;
  margin-left: 10px;
}
.company-field{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  text-overflow: ellipsis;
}
.company-name-field{
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.company-name-link{
  text-decoration: none;
}
.phone-number-field{
  width: 140px;
  margin-left: 10px;
  text-align: center;
}
.address-field{
  width: 200px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.station-field{
  width: 80px;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.status-field{
  width: 140px;
  overflow: hidden;
  margin-left: 10px;
}
.rank-field{
  width: 70px;
  text-align: center;
  margin-left: 10px;
}
.user-field{
  width: 120px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.top-page-footer{
  width: 100vw;
  height: 15px;
  background-color: gray;
}

.company-none{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.company-none-message{

}
.company-none-icon{
  margin-top: 30px;
  width: 200px;
  height: 200px;
}