.company-show-main {
  height: 100%;
  width: 100vw;
  background-color: #C0C0C0;
}
.company-show-center{
  height: 100%;
  width: 80%;
  background-color: white;
  margin: 0 auto;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
}
.show-center-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.create-data{
  display: flex;
  flex-direction: column;
}
.company-delete{
  margin-top: 10px;
  color: black;
}

/* ステータス */
.status-now{
  height: 30px;
  width: 60px;
  border: 1px solid #FF9900;
  background-color: #FF9900;
  margin-left: 30px;
  display: flex;
  border-radius: 8px;
}
.status-past{
  height: 30px;
  width: 140px;
  border: 1px solid #3399FF;
  background-color: #3399FF;
  margin-left: 30px;
  display: flex;
  border-radius: 8px;
}
.status-none{
  height: 30px;
  width: 80px;
  border: 1px solid #555555;
  background-color: #555555;
  margin-left: 30px;
  display: flex;
  border-radius: 8px;
}
.status-text{
  color: white;
  font-size: 15px;
  margin: auto;
}
/* 会社情報 */
.company-data{
  margin-left: 40px;
}
.show-company-name{
  margin-bottom: 10px;
  font-weight: bold;
}
.show-company-phone{
  margin-bottom: 10px;
}
.show-company-capital,
.show-company-employee,
.show-company-address{
  margin-bottom: 10px;
}

/* 活動実績 */
.activity-header{
  margin: 30px auto;
  display: flex;
}
.activity-link{
  text-decoration: none;
}
.activity-btn{
  width: 120px;
  height: 25px;
  background-color: gray;
  margin-left: 50px;
  text-align: center;
  color: white;
  
}
.activity-content{
  width: 80%;
  margin: 0 auto;
  background-color: #EEEEEE;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.activity-top{
  display: flex;
}
.activity-puts-user{
  margin:0 0 0 auto;
}
.delete-activity{
  margin: 0 0 0 auto;
}
.delete-link {
  color: black;
  font-size: 14px;
}
.activity-none{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.none-message{
  text-align: center;
  margin-bottom: 20px;
}
.building-icon{
  width: 200px;
  height: 200px;
}

.g-map-area{
  margin: 0 auto;
  width: 320px;
  height: 320px;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  justify-content: center;
}
