<%= render "shared/header" %>

<div class="main">
  <table class="company-table">
    <tr class="table-header">
      <th class="company">会社名</th>
      <th class="phone">電話番号</th>
      <th class="address">住所</th>
    </tr>
    <% @companies.map do |company| %>
    <tr>
      <td><%= link_to company.company_name, company_path(company) %></td>
      <td><%= company.phone_number %></td>
      <td><%= company.address %></td>
    </tr>
    <% end %>
  </table>
</div>