.main{
  height: calc(100vh - 50px);
  max-width: 1920px;
  min-width: 1280px;
  background-color: #F4F5F7;
  padding: 30px;
  overflow-y: scroll;
  // company/index
  .company-table{
    .table-header{
      .company{
      }
      .phone{
      }
      .address{
      }
      .station{
      }
      .sales{
      }
      .status{
      }
    }
  }
  // company/show
  .company-info{
    display: flex;
    width: 90%;
    margin-bottom: 30px;
    .left-area{
      width: 40%;
      .field-1{
        margin-bottom: 20px;
        .item{
          margin-bottom: 8px;
        }
      }
      .field-2{
        margin-bottom: 20px;
      }
      .field-3{
        .item{
          margin-bottom: 5px;
        }
      }
    }
    .center-area{
      margin-left: 15px;
      .field-4{
        .item{
          margin-bottom: 8px;
        }
      }
    }
  }
  .order-table{
    width: 90%;
  }
}
