
.bottom-area{
  display: flex;
  height: calc(100vh - 120px);
}
.side-bar{
  background-color:white;
  width: 200px;
}
.main-page{
  background-color:white;
  width: calc(100vw - 200px);
}
.select-box {
  height: 30px;
  width: 200px;
}